*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    padding: 0;
}

.navbar{
    display: flex;
    padding: 15px;
    align-items: center;
    background-color: #672280;
    color: white;
}

.navbar img {
    width: 50px;
    margin: 10px;
}

.input-1,.input-2{
    margin: 10px;
    border-radius: 5px;
    border-width: 1px;
    max-width: 400px;
    height: 3rem;
    font-size: 20px;
}

main{
    margin-top: 20px;
    text-align: center;
}

.submit{
    margin: 20px;
    max-width: 820px;
    height: 3rem;
    font-size: 20px;
    background-color:#672280;
    color: white;
}

.meme-img{
    display: block;
    max-width: 400px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.uppertxt{
    top: 15px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
    position: absolute;
}

.lowertxt{
    bottom: 20px;
    font-family: impact, sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
    position: absolute;
}